main {
  height: 550px;
  width: 550px;
  
  
  margin:auto;
  background: #F5F7FB;
  text-align: center;
  

  
}

hr {
  border: 0.794239px solid #DBDEF0;
}

#second {
  width: 80%;
  margin: auto;
  padding: 10px;
}

.options{
  height: 20px;
  width: 100px;
  border-radius: 7.710448265075684px;
  border: 1px solid #4D5B9E;
  

}
#option {
  display: flex;
  justify-content: space-between;
}

#header {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  align-items: center;

}

#button {
  height: 52px;
  width: 193px;
  left: 179px;
  top: 314px;
  border-radius: 15px;
  background: navy;
  color: white;
}

#questions {

  text-align: left;

}